<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Modal</title>

</head>
<body>

<div id="wrap">
	<input type="text" value="">
	<button type="button" id="modalBtn">경기알림</button>

	<div id="test1" style="background-color:red; width:100px; height:3000px;"></div>

	<div id="modalWrap" >
		<!--	<div class="modal_dimmed">

				<div class="inner_modal">
					<strong class="tit_merlin">안녕하세요 멀린 모달이예요 ~</strong>
					<a href="javascript:;" class="btn_addModal">중첩 모달을 열어볼까요?</a>
					<a href="javascript:;" class="btn_close">닫기</a>

					<div class="modal_dimmed">
						<div class="inner_smodal">as;dlfasdfasdf</div>
					</div>
				</div>

			</div>-->
	</div>

</div>

</body>
</html>